header{
    background-color: #101820;
}

header > a {
    color:#FEE715;
    font-family: "PT Sans Narrow", sans-serif;
}

body{
    background-color: #fff6a9;
}

*{
    font-family: "PT Sans Narrow", sans-serif;;
}
